{% extends "controller/base.html" %}
{% block content %}
  
<div class="card mx-auto" style="width: 800px;">
   <div class="card-header ">
       <img class="rounded-circle-img" style="max-width:15%;" src="{{object.author.profile.image.url}}" alt="img"><br>
      <a class="mr-2" style="list-style: none;" href="#">{{object.author}}</a>&nbsp;&nbsp;
      <small class="text-muted">{{ object.date_posted|date:"F d, Y"}}</small>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      {%  if object.author == user  %}

      <a  class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' object.id %}">Update</a>
      <a  class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' object.id %}">Delete</a>

      {% endif%}
     </div>
   <div class="card-body">
     <h5 class="card-title">{{ object.title }}</h5>
     <h6 class="card-subtitle mb-2 text-muted">{{ object.route }}</h6>
     <p class="card-text">{{object.description}}</p>
     <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
   </div>
 </div>

{% endblock content %}